.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);

    &__title {
        color: #000;
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;

        width: 100%;
        max-width: 320px;
        height: 100%;
        min-height: 310px;
        padding: 5px 10px 5px 10px;

        // ! proposal styles
        background-color: #fff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }

    &__formInput {
        outline: none;
        border: none;
        border-bottom: 3px solid #59bfef;
        padding: 10px;

        transition: background-color .3s ease;
        background-color: rgba($color: #59bfef, $alpha: .0);

        &:focus {
            transition: background-color .3s ease-in;
            background-color: rgba($color: #59bfef, $alpha: .3);
        }
    }

    &__formControls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 50px;
    }
}